<new-food-form (onSubmitNewFood)="passNewFoodUp($event)"></new-food-form>
<select (change)="onCalorieFilterChange($event.target.value)" class="filter">
  <option value="all">View All Foods</option>
  <option value="high">View Foods with > 500 Calories</option>
  <option value="low">View Foods with <= 500 Calories</option>
</select>
<div class="row table-header-row">
  <div class="col-xs-3"><strong>Name</strong></div>
  <div class="col-xs-3"><strong>Type</strong></div>
  <div class="col-xs-3"><strong>Details</strong></div>
  <div class="col-xs-3"><strong>Calories</strong></div>
</div>
<food-display *ngFor="#currentFood of foodList | caloriePipe:filterCalorie" [food]='currentFood' (click)="foodClicked(currentFood)" [class.selected]="currentFood === selectedFood"></food-display>
<div *ngIf="selectedFood" action="index.html" method="post">
  <h4>Edit</h4>
  <input type="text" [(ngModel)]="selectedFood.foodName">
  <input type="text" [(ngModel)]="selectedFood.foodType">
  <input type="text" [(ngModel)]="selectedFood.details">
  <input type="number" [(ngModel)]="selectedFood.calories">
  <button (click)="doneEditing()">Done</button>
</div>
